bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.conda-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
.classpath_cache/
.vscode/
traces/*.proto.gz
traces/scripts/lib/
traces/scripts/bin/
traces/scripts/include/
traces/scripts/lib64/
traces/scripts/lib64
traces/scripts/share/
traces/barnes-8/
traces/fft-8/
traces/ocean-8/
traces/fmm-8/
traces/raytrace-8/
traces/radiosity-8/
traces/water-nsquared-8/
traces/water-spatial-8/
traces/radix-8/
traces/cholesky-8/
traces/lu-8/
traces/*/*.proto.gz
traces/parsed/*.csv
traces/mrt_data/*.csv
traces/parsed/synthetics/*.csv
traces/parsed/synth/*.csv
traces/parsed/*.csv
traces/parsed/final/*.csv
traces/scripts/pyvenv.cfg
test_run_dir/
tools/siliconcompiler/build/
build/
traces/scripts/venv/
traces/test_cases/*.proto.gz
traces/test_cases/hol_test/*.proto.gz
traces/test_cases/interference_test_int/*.proto.gz
traces/test_cases/interference_test_iso/*.proto.gz
traces/test_cases/nmshrs_test/*.proto.gz
traces/test_cases/releasebuf_test/*.proto.gz
traces/test_cases/probe_test/*.proto.gz